.event-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 64px 0;
  max-width: 1440px;
  margin: 0 auto;
}

.event-title {
  font-weight: 500;
  font-size: 64px;
  text-align: left;
  line-height: 1.2;
  color: #010821;
  margin-bottom: 60px;
  width: 100%;
}

.event-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* 视频卡片容器样式 */
.video-card-section {
  margin-top: 120px;
  box-sizing: border-box;
}

.video-card-container {
  width: 100%;
  margin: 0 auto;
  height: 400px;
}

.event-card-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 0;
}

.event-card-wrapper {
  display: flex;
  justify-content: center;
  padding: 8px;
  box-sizing: border-box;
}

.event-card-wrapper-large {
  width: 50%;
}

.event-card-wrapper-small {
  width: 25%;
}

@media (max-width: 768px) {

  .event-title{
    padding-left: 16px;
  }

  .event-card-wrapper-large {
    width: 100%;
  }
  
  .event-card-wrapper-small {
    width: 50%;
  }
  .event-title {
    font-size: 36px;
    margin-bottom: 30px;
  }

  .video-card-section {
    margin-top: 32px;
  }

  .video-card-container {
    height: auto;
  }
}
